@model Fruit.ViewModels.CommonViewModel
@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Drink Page</h2>


@for (int i = 0; i < Model.InformationViewModelList.Count; i++)
{
    <div class="col-md-6">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">General</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">

                <div class="form-group">
                    @Html.LabelFor(c => c.InformationViewModelList[i].Title)
                    <textarea id="inputDescription" class="form-control" rows="4">@Model.InformationViewModelList[i].Title</textarea>
                </div>
                <div class="form-group">
                    @Html.LabelFor(c => c.InformationViewModelList[i].Subtitle)
                    <textarea id="inputDescription" class="form-control" rows="4">@Model.InformationViewModelList[i].Subtitle</textarea>
                </div>
                <div class="form-group">
                    @Html.LabelFor(c => c.InformationViewModelList[i].Title)
                    <textarea id="inputDescription" class="form-control" rows="4">@Model.InformationViewModelList[i].Title</textarea>
                </div>
            </div>
            <!-- /.card-body -->
            @Html.ActionLink("Edit", "FormInformation", "Drink", null, new { @class = "btn btn-primary btn-large" })

        </div>
        <!-- /.card -->
    </div>
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Ingredient Name</h3>

                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0" style="height: 300px;">
                <table class="table table-head-fixed">

                    <tbody>

                        @foreach (var item in Model.IngredientViewModelList)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@Html.ActionLink("Delete", "DeleteIngredient", "Drink", new { IngredientId = item.Id }, null)</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
            @Html.ActionLink("Add", "FormIngredient", "Drink", null, new { @class = "btn btn-primary btn-large" })

        </div>
        <!-- /.card -->
    </div>
</div>


<div class="col-12">
    <div class="card card-primary">
        <div class="card-header">
            <div class="card-title">
                Ekko Lightbox
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-2">
                    <a href="https://via.placeholder.com/1200/FFFFFF.png?text=1" data-toggle="lightbox" data-title="sample 1 - white" data-gallery="gallery">
                        <img src="https://via.placeholder.com/300/FFFFFF?text=1" class="img-fluid mb-2" alt="white sample">
                    </a>
                </div>
            </div>
        </div>
    </div>
    @Html.ActionLink("Add", "GalleryForm", "Drink", null, new { @class = "btn btn-primary btn-large" })
</div>    