@model List<Fruit.ViewModels.InformationViewModel>
@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


@using (Html.BeginForm("Update", "Main", FormMethod.Post))
{
    for (int i = 0; i < 2; i++)
    {
        @Html.HiddenFor(c => c.ElementAtOrDefault(i).Id)

        <div class="form-group">
            @Html.LabelFor(c => c.ElementAtOrDefault(i).Title)
            @Html.TextAreaFor(c => c.ElementAtOrDefault(i).Title, new { @class = "form-control", @cols = "100", @rows = "5", @style = "width:30%;" })
            <button type="submit" class="btn btn-primary">შენახვა</button>
        </div>

        <div class="form-group">
            @Html.LabelFor(c => c.ElementAtOrDefault(i).Subtitle)
            @Html.TextAreaFor(c => c.ElementAtOrDefault(i).Subtitle, new { @class = "form-control", @cols = "100", @rows = "5", @style = "width:30%;" })
            <button type="submit" class="btn btn-primary">შენახვა</button>
        </div>
        <div class="form-group">
            @Html.LabelFor(c => c.ElementAtOrDefault(i).Text)
            @Html.TextAreaFor(c => c.ElementAtOrDefault(i).Text, new { @class = "form-control", @cols = "100", @rows = "5", @style = "width:30%;" })
            
        </div>
    }
        <button type="submit" class="btn btn-primary">შენახვა</button>
}

